<div ng-show="$ctrl.rideOffers.length > 0 || $ctrl.isPrivilegedUser">
  <h3>Ride Offers</h3>
  <div ng-show="$ctrl.rideOffers.length === 0">
    <p>No ride offers found for this event.</p>
  </div>
  <table class="table table-hover table-striped" ng-show="$ctrl.rideOffers.length > 0">
    <tr>
      <th style="text-align: center">
        #
      </th>
      <th ng-click="$ctrl.orderBy('user')" style="text-align: center">
        Offered By
        <span class="sortorder" ng-show="$ctrl.orderByField === 'user'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
      </th>
      <th ng-click="$ctrl.orderBy('seats')" style="text-align: center">
        Seats Offered
        <span class="sortorder" ng-show="$ctrl.orderByField === 'seats'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
      </th>
      <th ng-click="$ctrl.orderBy('date')" style="text-align: center">
        Offered On
        <span class="sortorder" ng-show="$ctrl.orderByField === 'date'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
      </th>
      <th ng-click="$ctrl.orderBy('seatsMatched')" style="text-align: center">
        Seats Matched
        <span class="sortorder" ng-show="$ctrl.orderByField === 'seatsMatched'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
      </th>
    </tr>
    <tr ng-repeat="rideOffer in $ctrl.rideOffers | orderBy : $ctrl.orderByField : $ctrl.reverseOrder">
      <td>{{$index+1}}</td>
      <td>
        {{rideOffer.user}}
      </td>
      <td>
        {{rideOffer.seats}}
      </td>
      <td>
        {{rideOffer.date | date: 'yyyy-MM-dd hh:mm:ss a Z'}}
      </td>
      <td>
        {{rideOffer.seatsMatched}}
      </td>
    </tr>
  </table>
  <hr>
</div>