<h2>
  All Events
  <a class="btn btn-primary pull-right" href="#!/event_create" ng-show="$ctrl.userRole !== 'REGULAR'">
    <i class="glyphicon glyphicon-plus"></i> New Event
  </a>
</h2>

<h3>Upcoming Events</h3>
<table class="table table-hover table-striped">
  <tr>
    <th style="text-align: center">
      #
    </th>
    <th ng-click="$ctrl.orderBy('from')" style="text-align: center">
      From
      <span class="sortorder" ng-show="$ctrl.orderByField === 'from'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
    <th ng-click="$ctrl.orderBy('to')" style="text-align: center">
      To
      <span class="sortorder" ng-show="$ctrl.orderByField === 'to'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
    <th ng-click="$ctrl.orderBy('departureDateAndTime')" style="text-align: center">
      Departure Date & Time
      <span class="sortorder" ng-show="$ctrl.orderByField === 'departureDateAndTime'" ng-class="{reverse: $ctrl.reverseOrder}"></span>
    </th>
    <th style="text-align: center">
      Details
    </th>
  </tr>
  <tr ng-repeat="event in $ctrl.upcomingEvents | orderBy : $ctrl.orderByField : $ctrl.reverseOrder">
    <td>{{$index+1}}</td>
    <td>
      {{event.from}}
    </td>
    <td>
      {{event.to}}
    </td>
    <td>
      {{event.departureDateAndTime | date: 'MMM dd, yyyy hh:mm a Z'}}
    </td>
    <td>
      <a href="#!/events/{{event.id}}"><img src="images/view.png" width="20"></a>
    </td>
  </tr>
</table>

<hr>

<h3>Past Events</h3>
<table class="table table-hover table-striped">
  <tr>
    <th style="text-align: center">
      #
    </th>
    <th ng-click="$ctrl.orderBy('from')" style="text-align: center">
      From
    </th>
    <th ng-click="$ctrl.orderBy('to')" style="text-align: center">
      To
    </th>
    <th ng-click="$ctrl.orderBy('departureDateAndTime')" style="text-align: center">
      Departure Date & Time
    </th>
    <th style="text-align: center">
      Details
    </th>
  </tr>
  <tr ng-repeat="event in $ctrl.pastEvents | orderBy : 'departureDateAndTime'">
    <td>{{$index+1}}</td>
    <td>
      {{event.from}}
    </td>
    <td>
      {{event.to}}
    </td>
    <td>
      {{event.departureDateAndTime | date: 'MMM dd, yyyy hh:mm a Z'}}
    </td>
    <td>
      <a href="#!/events/{{event.id}}"><img src="images/view.png" width="20"></a>
    </td>
  </tr>
</table>
